<ul class="list-group">
    <li class="list-group-item active" aria-current="true">SÁCH THEO CHỦ ĐỀ</li>
    @foreach (var item in Model)
    {
        <li class="list-unstyled"><a class="list-group-item list-group-item-action" href="@Url.Action("SachTheoCD", "SachOnline", new {MaCD = item.MaCD})">@item.TenChuDe</a></li>
    }
</ul>